{%extends 'magazin/index.html'%}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

  
      
     
 
    {% block order %} 
    <section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
             
                 

    <h4>Заказ i№:{{post.id}}</h4>
    <h4>email:{{post.email}}</h4>
    
 
    <h4>Адрес:{{post.adress}}</h1>
      
     <h6>Телефон:{{post.telephon}}</h6>
     <h6>Статус доставки:{{post.statusdelivery}}</h6>
   
   
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

   {%endblock%}

   {% block orderprod %}
   
                  
   
   
   

      
     
     <section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0">Общие количество товара:</h1>
                    <h6 class="mb-0 text-muted">{{total_quantity}}</h6>
                  </div>
                  {%for o in orp%}
                  <hr class="my-4">

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="{{ o.product.photo.url }}"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                     <a href="/magazin/get/{{o.product.id}}"><h6 class="text-muted">{{o.product}}</h6></a>
                      
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>

                      <input id="form1" min="0" name="quantity" value="{{o.quantity}}" type="number"
                        class="form-control form-control-sm" />

                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{o.product.price}} тенге</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>

                  
                       {%endfor%}
                  
                         <hr class="my-4">
            


                  <div class="pt-5">
                    <h6 class="mb-0"><a href="/magazin" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Вернуться в магазин</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-body-tertiary">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Общая сумма</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h6 class="text-uppercase">Общие количество товара: {{total_quantity}}</h6>
                  
                  </div>

                
                

                

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Итого:</h5>
                    <h5>{{total_sum}} тенге</h5>
                  </div>
                  {%if total_quantity == 0 %}
                  <a href="/magazin/ord/addorderfromforordbasket/{{post.id}}"><button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-sm mt-2" type="button">Добавить товары с корзины</button></a>   

                  {%else%}


                  {%endif%}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
     
     {%endblock%}


   </body>
   </html>