{%extends 'magazin/index.html'%}
{% load static %}

  {% block product %}
  {% for p in post %}


  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img width="150" height="150" src="{{ p.photo.url }}"
                    class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{p.product|truncatewords:3}}</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                  </div>

                  <p class="text-truncate mb-4 mb-md-0">
                   {{p.description|truncatewords:5}}
                 </p>
               </div>
               <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">Цена:{{p.price}}</h4>
                </div>
                <h6 class="text-success">Бесплатная доставка</h6>
                <div class="d-flex flex-column mt-4">
                 <a href="get/{{p.id}}" class="btn btn-primary"><button  data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm" type="button" >Посмотреть товар &raquo;</button></a>
                 <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-sm mt-2" type="button">
                  Add to wishlist
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>
</section>

{% endfor %}

{%endblock%}




